<div class="row intro">
    <div class="left">
        <h1 class="center-main title">Water Waste</h1>
        <p class="center-main">Water is a finite resource. Earth is covered with 71% of water, but only 1% of the water we can consume. When you waste water, It means you are harming the world and yourself.</p>
        <h2 style="font-weight: 500;">Save your money, Save the world.</h2>
    </div>
    <img src="../assets/images/water-drop.png" alt="water" class="water">
</div>
<app-chart></app-chart>
<app-statistic></app-statistic>